<div class="container">
    <section class="text-center py-3">
        <h1 class="display-4">Your Best Shortener</h1>
    </section>
    

    <section class="custom-form">
        <div class="container" style="margin: 20px;">
            <form class="row align-items-center">
                <div class="col">
                    <input type="text" class="form-control border-3 shadow" placeholder="Paste your link right here!" #link
                        [(ngModel)]="urlInput" name="urlInput">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-primary shadow-lg" type="button" (click)="addNewUrl()">Generate new short
                        link!</button>
                </div>
            </form>
        </div>
        
    </section>
    
    <section class="results">
    
        <table class="table table-hover table-striped table-bordered table-sm" style="table-layout: fixed;">
            <thead class="thead-dark">
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Created Date</th>
                    <th>Number of Appeals</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let url of urlsList">
                    <td style="word-wrap: break-word;">{{ url.fullUrl }}</td>
                    <td style="word-wrap: break-word;">{{ url.shortUrl }}</td>
                    <td>{{ url.createdDate }}</td>
                    <td>{{ url.numberOfAppeals }}</td>
                    <td><button class="btn btn-danger btn-sm" (click)="deleteUrl(url.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    
    </section>
</div>