<div class="container" *ngIf="url">
    <section class="results">

        <table class="table table-hover table-striped table-bordered table-sm" style="table-layout: fixed;">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Created Date</th>
                    <th>Last Appeal</th>
                    <th>Appeals Num</th>
                    <th>UserId</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <td>{{ url.id }}</td>
                <td style="word-wrap: break-word;">{{ url.fullUrl }}</td>
                <td style="word-wrap: break-word;">{{ url.shortUrl }}</td>
                <td>{{ url.createdDate | date: 'd MMM yyyy' }}</td>
                <td>{{ url.lastAppeal | date: 'd MMM yyyy' }}</td>
                <td>{{ url.numberOfAppeals }}</td>
                <td>{{ url.userId }}</td>
            </tbody>
        </table>

    </section>
</div>